page-about {

    .pieces{
        font-size: 80px;
        text-align:center;
        font-family: 'Righteous', cursive;
        margin-top:0;
        color: gold;
        max-width: 250px;
        max-height: 100px;
        overflow: hidden;
    }

    .img{
      margin: auto;
      margin-top:20px;
    }

    .grid {
      width: 80%;
    }

    @-webkit-keyframes shake {
        from,
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }
      
        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(10px, 0, 0);
          transform: translate3d(10px, 0, 0);
        }
      }
      
      @keyframes shake {
        from,
        to {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      
        10%,
        30%,
        50%,
        70%,
        90% {
          -webkit-transform: translate3d(-10px, 0, 0);
          transform: translate3d(-10px, 0, 0);
        }
      
        20%,
        40%,
        60%,
        80% {
          -webkit-transform: translate3d(10px, 0, 0);
          transform: translate3d(10px, 0, 0);
        }
      }
      
      .shake {
        -webkit-animation-name: shake;
        animation-name: shake;
        animation-duration: 0.5s;
      }

}
