page-home {
    .pieces{
        font-size: 80px;
        text-align:center;
        font-family: 'Righteous', cursive;
        margin-top:0;
        color: gold;
        max-width: 250px;
        max-height: 100px;
        overflow: hidden;
    }
    .marge{
        margin-top: 12px;
    }
    
}
